.main-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 75%;
  
    /* Adjust the grid-template-columns and grid-gap for smaller screens */
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-gap: 75px;
    }
  }
  
  .main-section-left, .main-section-right {
    display: grid;
    grid-gap: 20px;
    color: beige;
    background-color: darkgray;
  
    /* Adjust the grid-template-rows for smaller screens */
    @media (max-width: 768px) {
      grid-template-rows: repeat(3, 1fr); /* Divide into three equal rows */
    }
  }